<app-header></app-header>

<p-panel class="panel-without-header">
  <form [formGroup]="accountingForm" [class.was-validated]="isSubmitted" (ngSubmit)="submit()">
    <div class="field">
      <label htmlFor="periodFrom" class="block">From</label>
      <p-calendar formControlName="periodFrom" dateFormat="dd.mm.yy" [style]="{'width':'100%'}"
                  [required]="true"></p-calendar>
    </div>

    <div class="field">
      <label htmlFor="periodUpto" class="block">Upto</label>
      <p-calendar formControlName="periodUpto" dateFormat="dd.mm.yy" [style]="{'width':'100%'}"
                  [required]="true"></p-calendar>
    </div>

    <div class="field input-w-max">
      <label htmlFor="subject" class="block">Subject</label>
      <input pInputText formControlName="subject" required>
    </div>

    <div class="field input-w-max">
      <label htmlFor="amountHighTariff" class="block">Amount high tariff in CHF</label>
      <input pInputText pKeyFilter="money" formControlName="amountHighTariff" required>
    </div>

    <div class="field input-w-max">
      <label htmlFor="amountLowTariff" class="block">Amount low tariff in CHF</label>
      <input pInputText pKeyFilter="money" formControlName="amountLowTariff" required>
    </div>

    <div class="field input-w-max">
      <label htmlFor="amountTotal" class="block">Amount total in CHF</label>
      <input pInputText pKeyFilter="money" formControlName="amountTotal" required>
    </div>

    <div class="field">
      <label htmlFor="agreement" class="block">Agreement</label>
      <p-dropdown formControlName="agreementId" [options]="(agreements$ | async)!" optionValue="id"
                  [style]="{'width':'100%'}">
        <ng-template let-agreement pTemplate="selectedItem">
          <div>
            {{agreement.periodFrom | date}} - {{agreement.periodUpto | date}}
          </div>
        </ng-template>
        <ng-template let-agreement pTemplate="item">
          <div>
            {{agreement.periodFrom | date}} - {{agreement.periodUpto | date}}
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <p-button type="submit" label="Submit"></p-button>
  </form>
</p-panel>
