<div class="card">
  <div class="card-body">
    <form [formGroup]="accountingForm" [class.was-validated]="isSubmitted" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="periodFrom" class="form-label">From</label>
        <input type="date" id="periodFrom" class="form-control" formControlName="periodFrom" required>
      </div>

      <div class="mb-3">
        <label for="periodUpto" class="form-label">Upto</label>
        <input type="date" id="periodUpto" class="form-control" formControlName="periodUpto" required>
      </div>

      <div class="mb-3">
        <label for="subject" class="form-label">Subject</label>
        <input type="text" id="subject" class="form-control" formControlName="subject" required>
      </div>

      <div class="mb-3">
        <label for="amountHighTariff" class="form-label">Amount high tariff in CHF</label>
        <input type="number" id="amountHighTariff" class="form-control" formControlName="amountHighTariff" required>
        <ng-container
          *ngIf="accountingForm.get('amountHighTariff')?.invalid && accountingForm.get('amountHighTariff')?.touched">
          <div class="invalid-feedback" *ngIf="accountingForm.get('amountHighTariff')?.errors">
            Please use only numbers for high tariff
          </div>
        </ng-container>
      </div>

      <div class="mb-3">
        <label for="amountLowTariff" class="form-label">Amount low tariff in CHF</label>
        <input type="number" id="amountLowTariff" class="form-control" formControlName="amountLowTariff" required>
        <ng-container
          *ngIf="accountingForm.get('amountLowTariff')?.invalid && accountingForm.get('amountLowTariff')?.touched">
          <div class="invalid-feedback" *ngIf="accountingForm.get('amountLowTariff')?.errors">
            Please use only numbers for low tariff
          </div>
        </ng-container>
      </div>

      <div class="mb-3">
        <label for="amountTotal" class="form-label">Amount total in CHF</label>
        <input type="number" id="amountTotal" class="form-control" formControlName="amountTotal" required>
        <ng-container
          *ngIf="accountingForm.get('amountTotal')?.invalid && accountingForm.get('amountTotal')?.touched">
          <div class="invalid-feedback" *ngIf="accountingForm.get('amountTotal')?.errors">
            Please use only numbers for total
          </div>
        </ng-container>
      </div>

      <div class="mb-3">
        <label for="agreement" class="form-label">Agreement</label>
        <select id="agreement" class="form-select" formControlName="agreementId" required>
          <option *ngFor="let agreement of (agreements$ | async)"
                  [value]="agreement.id">{{agreement.periodFrom | date}} - {{agreement.periodUpto | date}}</option>
        </select>
      </div>

      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
