<form [formGroup]="zevConfigForm" [class.was-validated]="isSubmitted" (ngSubmit)="submit()">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" id="name" class="form-control" formControlName="name"
           required>
  </div>

  <div class="mb-3">
    <label for="street" class="form-label">Street</label>
    <input type="text" id="street" class="form-control" formControlName="street" required>
  </div>

  <div class="mb-3">
    <label for="houseNr" class="form-label">House number</label>
    <input type="text" id="houseNr" class="form-control" formControlName="houseNr"
           required>
  </div>

  <div class="mb-3">
    <label for="postalCode" class="form-label">Postal code</label>
    <input type="text" id="postalCode" class="form-control" formControlName="postalCode"
           required>
  </div>

  <div class="mb-3">
    <label for="city" class="form-label">City</label>
    <input type="text" id="city" class="form-control" formControlName="city" required>
  </div>

  <div class="mb-3">
    <label for="propertyNr" class="form-label">Property number</label>
    <input type="text" id="propertyNr" class="form-control" formControlName="propertyNr">
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>
