# Ignore all files in the root directory
*

# Include the src directory
!src/

# Include gradle
!gradle
!build.gradle.kts
!gradlew
!settings.gradle.kts

# Exclude the target directory and its contents
build/

# Exclude non default application properties
application-*