<div class="flex justify-between pb-3">
    <p class="text-2xl">Units</p>
    <div class="flex flex-nowrap justify-end">
        <app-button label="Add" (clicked)="addClicked()" />
    </div>
</div>

<table class="w-full table-auto text-left">
    <thead class="uppercase">
        <tr>
            <th scope="col">Number</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (unit of units(); track unit.id) {
            <tr [routerLink]="unit.id" style="cursor: pointer">
                <td class="py-1">{{ unit.number }}</td>
                <td class="py-1">{{ unit.firstName }}</td>
                <td class="py-1">{{ unit.lastName }}</td>
                <td class="py-1">
                    <div class="flex flex-nowrap items-center justify-end">
                        <button
                            class="rounded-l-lg border border-slate-200 px-4 py-2 text-sm hover:bg-slate-100 hover:text-blue-600"
                            [routerLink]="[unit.id, 'edit']"
                        >
                            <fa-icon [icon]="faPencil" />
                        </button>
                        <button
                            class="rounded-r-lg border border-slate-200 px-4 py-2 text-sm hover:bg-slate-100 hover:text-red-600"
                            (click)="remove(unit)"
                        >
                            <fa-icon [icon]="faTrash" />
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
