<div class="d-flex align-items-center justify-content-between pb-3">
  <ng-container *ngIf="entity$ | async as representative">
    <h4>
      {{representative.firstName}} {{representative.lastName}} <app-active-pill [active]="representative.active!"></app-active-pill>
    </h4>
  </ng-container>

  <div class="btn-toolbar d-flex justify-content-end" role="toolbar">
    <div class="btn-group" role="group">
      <button class="btn btn-outline-primary" routerLink="edit">
        <i class="bi bi-pencil-square me-1"></i>
        <span>Edit</span>
      </button>
      <button class="btn btn-outline-danger" (click)="delete()">
        <i class="bi bi-trash me-1"></i>
        <span>Delete</span>
      </button>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <ng-container *ngIf="entity$ | async as representative">
      <div class="row mb-3">
        <div class="col-2">
          Email
        </div>
        <div class="col">
          {{representative.email}}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          Street
        </div>
        <div class="col">
          {{representative.street}}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          House number
        </div>
        <div class="col">
          {{representative.houseNr}}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          Postal code
        </div>
        <div class="col">
          {{representative.postalCode}}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          City
        </div>
        <div class="col">
          {{representative.city}}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          Phone number
        </div>
        <div class="col">
          {{representative.phoneNr}}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          Mobile number
        </div>
        <div class="col">
          {{representative.mobileNr}}
        </div>
      </div>
    </ng-container>
  </div>
</div>
