<nb-card>
  <nb-card-header class="d-flex justify-content-between">
    <h3>Agreement</h3>

    <nb-actions >
      <nb-action icon="edit-outline" routerLink="/agreements/edit/{{id}}"></nb-action>
      <nb-action icon="trash-outline" (click)="delete()"></nb-action>
    </nb-actions>
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngIf="agreement$ | async as agreement; else loading">
      <div class="row mb-3">
        <div class="col-3">
          From
        </div>
        <div class="col">
          {{agreement.periodFrom | date}}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-3">
          Upto
        </div>
        <div class="col">
          {{agreement.periodUpto | date}}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-3">
          High tariff
        </div>
        <div class="col">
          {{agreement.highTariff | currency: 'CHF'}}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-3">
          Low tariff
        </div>
        <div class="col">
          {{agreement.lowTariff | currency: 'CHF'}}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-3">
          Approved
        </div>
        <div class="col">
          {{agreement.approved | date}}
        </div>
      </div>
    </ng-container>

    <ng-template #loading>
      <p class="placeholder-glow">
        <span class="placeholder col-12"></span>
      </p>
    </ng-template>

  </nb-card-body>
</nb-card>
