<div class="d-flex align-items-center justify-content-between pb-3">
  <ng-container *ngIf="agreement$ | async as agreement">
    <h4>
      {{agreement.periodFrom | date}} - {{agreement.periodUpto | date}}
    </h4>
  </ng-container>

  <div class="btn-toolbar d-flex justify-content-end" role="toolbar">
    <div class="btn-group" role="group">
      <button class="btn btn-outline-primary" routerLink="edit">
        <i class="bi bi-pencil-square me-1"></i>
        <span>Edit</span>
      </button>
      <button class="btn btn-outline-danger" (click)="delete()">
        <i class="bi bi-trash me-1"></i>
        <span>Delete</span>
      </button>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <ng-container *ngIf="agreement$ | async as agreement">
      <div class="row mb-3">
        <div class="col-2">
          High tariff
        </div>
        <div class="col">
          {{agreement.highTariff | currency: 'CHF'}}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          Low tariff
        </div>
        <div class="col">
          {{agreement.lowTariff | currency: 'CHF'}}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          Approved
        </div>
        <div class="col">
          {{agreement.approved | date}}
        </div>
      </div>
    </ng-container>
  </div>
</div>
