<div class="card">
  <div class="card-body">
    <form [formGroup]="form" [class.was-validated]="isSubmitted" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="unit" class="form-label">Unit</label>
        <select id="unit" class="form-select" formControlName="unitId">
          <option></option>
          <option *ngFor="let unit of (units$ | async)"
                  [ngValue]="unit.id">{{ unit.subject }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="recipient" class="form-label">Recipient</label>
        <select id="recipient" class="form-select" formControlName="recipientId" required>
          <option *ngFor="let recipient of (owners$ | async)"
                  [ngValue]="recipient.id">{{ recipient.firstName }} {{ recipient.lastName }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select id="status" class="form-select" formControlName="status" required>
          <option *ngFor="let status of statuses" [ngValue]="status">{{ status }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="direction" class="form-label">Direction</label>
        <select id="direction" class="form-select" formControlName="direction" required>
          <option *ngFor="let direction of directions" [ngValue]="direction">{{ direction }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="subject" class="form-label">Subject</label>
        <input type="text" id="subject" class="form-control" formControlName="subject" maxlength="255" required>
      </div>

      <div class="mb-3">
        <label for="dueDate" class="form-label">Due date</label>
        <input type="date" id="dueDate" class="form-control" formControlName="dueDate" required>
      </div>

      <div class="mb-3">
        <label for="notes" class="form-label">Notes</label>
        <input type="text" id="notes" class="form-control" formControlName="notes" maxlength="255">
      </div>

      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
