<nb-card>
  <nb-card-header>
    Add a new invoice
  </nb-card-header>
  <nb-card-body>
      <form [formGroup]="form" [class.was-validated]="isSubmitted" (ngSubmit)="submit()">
          <div class="mb-3">
            <label for="accounting" class="form-label">Accounting</label>
            <ng-container *ngIf="accounting$ | async as accounting">
            <input type="text" id="accounting" class="form-control-plaintext"
                   value="{{accounting.periodFrom | date}} - {{accounting.periodUpto | date}}" readonly>
            </ng-container>
          </div>

          <div class="mb-3">
            <label for="unit" class="form-label">Unit</label>
            <select id="unit" class="form-select" formControlName="unitId" required>
              <option *ngFor="let unit of (units$ | async)"
                      [ngValue]="unit.id">{{ unit.subject }}</option>
            </select>
          </div>

        <div class="mb-3 row">
          <div class="col">
          </div>

          <div class="col-3 text-end">
            Usage in kWh
          </div>

          <div class="col-2 text-end">
            Tariff in CHF
          </div>

          <div class="col-3 text-end">
            Amount in CHF
          </div>
        </div>

        <div class="mb-3 row">
          <div class="col">
            High tariff
          </div>

          <div class="col-3">
            <input type="number" id="usageHighTariff" class="form-control text-end" formControlName="usageHighTariff"
                   required>
          </div>

          <div class="col-2">
            <input type="text" id="hightTariff" class="form-control-plaintext text-end" readonly
                   value="&times; {{this.highTariff | currency: 'CHF'}} &equals;">
          </div>

          <div class="col-3">
            <input type="number" id="amountHighTariff" class="form-control text-end" formControlName="amountHighTariff"
                   required>
          </div>
        </div>

        <div class="mb-3 row">
          <div class="col">
            Low tariff
          </div>

          <div class="col-3">
            <input type="number" id="usageLowTariff" class="form-control text-end" formControlName="usageLowTariff"
                   required>
          </div>

          <div class="col-2">
            <input type="text" id="lowTariff" class="form-control-plaintext text-end" readonly
                   value="&times; {{this.lowTariff | currency: 'CHF'}} &equals;">
          </div>

          <div class="col-3">
            <input type="number" id="amountLowTariff" class="form-control text-end" formControlName="amountLowTariff"
                   required>
          </div>
        </div>

        <div class="mb-3 row">
          <div class="col-3 offset-4">
            <input type="number" id="usageTotal" class="form-control text-end" formControlName="usageTotal" required>
          </div>

          <div class="col-3 offset-2">
            <input type="number" id="amountTotal" class="form-control text-end" formControlName="amountTotal" required>
          </div>
        </div>

        <div class="mb-3">
        </div>

        <div class="mb-3">
          <div class="mb-3">
            <label for="payed" class="form-label">Payed</label>
            <input type="date" id="payed" class="form-control" formControlName="payed">
          </div>
        </div>

        <button type="submit" nbButton status="primary">Submit</button>
      </form>
  </nb-card-body>
</nb-card>
