<div class="d-flex align-items-center justify-content-between pb-3">
  <ng-container>
    <h4>
      Agreements
    </h4>
  </ng-container>
  <div class="btn-toolbar d-flex justify-content-end" role="toolbar">
    <div class="btn-group" role="group">
      <button class="btn btn-outline-primary" routerLink="add">
        <i class="bi bi-plus-lg me-1"></i>
        <span>Add</span>
      </button>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <table class="table table-striped table-hover">
      <caption>List of agreements</caption>
      <thead>
      <tr>
        <th scope="col">Period</th>
        <th scope="col" class="text-end">High tariff</th>
        <th scope="col" class="text-end">Low tariff</th>
        <th scope="col">Approved</th>
      </tr>
      </thead>
      <tbody *ngFor="let agreement of agreements$ | async as agreements">
      <tr [routerLink]="agreement.id" style="cursor: pointer">
        <td>{{agreement.periodFrom | date}} - {{agreement.periodUpto | date}}</td>
        <td class="text-end">{{agreement.highTariff | currency: 'CHF'}}</td>
        <td class="text-end">{{agreement.lowTariff | currency: 'CHF'}}</td>
        <td>{{agreement.approved | date}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
