<div class="card">
  <div class="card-body">

    <ng-container *ngIf="error$ | async as error">
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle"></i>
        <ul>
          <li>{{ error.message }}</li>
        </ul>
      </div>
    </ng-container>

    <ng-container *ngIf="unit$ | async as unit">
      <form [formGroup]="form" [class.was-validated]="isSubmitted" (ngSubmit)="submit()">
        <div class="mb-3">
          <label for="unit" class="form-label">Unit</label>
          <input type="text" id="unit" class="form-control-plaintext" value="{{unit.subject}}" readonly>
        </div>

        <div class="mb-3">
          <label for="owner" class="form-label">Owner</label>
          <select id="owner" class="form-select" formControlName="ownerId" required>
            <option *ngFor="let owner of (owners$ | async)"
                    [value]="owner.id">{{ owner.firstName }} {{ owner.lastName }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="periodFrom" class="form-label">From</label>
          <input type="date" id="periodFrom" class="form-control" formControlName="periodFrom" required>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </ng-container>
