<nb-card>
  <nb-card-header class="d-flex justify-content-between">
    <h3>Assign an owner</h3>
  </nb-card-header>
  <nb-card-body>
    <nb-alert *ngIf="errors?.length" outline="danger" role="alert">
      <div>
        <nb-icon icon="alert-circle-outline" class="me-1"></nb-icon>
        <span class="alert-title">Error</span>
      </div>
      <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
      </ul>
    </nb-alert>

    <ng-container *ngIf="unit$ | async as unit">
      <form [formGroup]="ownershipForm" [class.was-validated]="isSubmitted" (ngSubmit)="submit()">

        <div class="mb-3">
          <label for="unit" class="form-label">Unit</label>
          <input type="text" id="unit" class="form-control-plaintext" value="{{unit.subject}}" readonly>
        </div>

        <div class="mb-3">
          <label for="user" class="form-label">User</label>
          <select id="user" class="form-select" formControlName="userId" required>
            <option *ngFor="let user of (users$ | async)"
                    [ngValue]="user.id">{{ user.firstName }} {{ user.lastName }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="periodFrom" class="form-label">From</label>
          <input type="date" id="periodFrom" class="form-control" formControlName="periodFrom" required>
        </div>

        <div class="mb-3">
          <label for="periodUpto" class="form-label">Upto</label>
          <input type="date" id="periodUpto" class="form-control" formControlName="periodUpto">
        </div>

        <button type="submit" nbButton status="primary">Submit</button>
      </form>
    </ng-container>
  </nb-card-body>
</nb-card>
