<app-header [actions]="actions"></app-header>

<div class="grid">
  <div class="col">
    <p-panel header="Details">
      <div class="grid mb-3">
        <div class="col-4">
          Period
        </div>
        <div class="col">
          {{accounting.periodFrom | date}} - {{accounting.periodUpto | date}}
        </div>
      </div>

      <div class="grid mb-3">
        <div class="col-4">
          Subject
        </div>
        <div class="col">
          {{accounting.subject}}
        </div>
      </div>

      <div class="grid mb-3">
        <div class="col-4">
          High tariff
        </div>
        <div class="col">
          {{accounting.amountHighTariff | currency: 'CHF'}}
        </div>
      </div>

      <div class="grid mb-3">
        <div class="col-4">
          Low tariff
        </div>
        <div class="col">
          {{accounting.amountLowTariff | currency: 'CHF'}}
        </div>
      </div>

      <div class="grid mb-3">
        <div class="col-4 fw-bold">
          Total
        </div>
        <div class="col-4">
          <span class="pt-2 fw-bold">{{accounting.amountTotal | currency: 'CHF'}}</span>
        </div>
      </div>

      <ng-template #loading>
        <p class="placeholder-glow">
          <span class="placeholder col-12"></span>
        </p>
      </ng-template>
    </p-panel>
  </div>

  <div class="col">
    <p-panel header="Agreement">
      <ng-container *ngIf="agreement$ | async as agreement; else loading">
        <ng-container *ngIf="agreement; else agreementEmpty">
          <div class="grid mb-3">
            <div class="col-4">
              Period
            </div>
            <div class="col">
              {{ agreement.periodFrom | date }} - {{ agreement.periodUpto | date }}
            </div>
          </div>
          <div class="grid mb-3">
            <div class="col-4">
              High tariff
            </div>
            <div class="col-4">
              {{agreement.highTariff | currency: 'CHF'}}
            </div>
          </div>
          <div class="grid mb-3">
            <div class="col-4">
              Low tariff
            </div>
            <div class="col-4">
              {{agreement.lowTariff | currency: 'CHF'}}
            </div>
          </div>

        </ng-container>
        <ng-template #agreementEmpty>
          <div>
            <p>Assign an agreement to this accounting</p>
          </div>
        </ng-template>
      </ng-container>
    </p-panel>
  </div>
  <div class="col">
    <p-panel header="Documents">
      <!--    <nb-action>-->
      <!--      <label for="upload-file" style="cursor: pointer">-->
      <!--        <nb-icon icon="plus"></nb-icon>-->
      <!--      </label>-->
      <!--      <input type="file" id="upload-file" class="hidden" (change)="fileBgridseHandler($event)">-->
      <!--    </nb-action>-->
      <ng-container *ngIf="documents$ | async as documents; else loading">
        <ng-container *ngIf="documents.length; else documentEmpty">

          <div *ngFor="let document of documents" class="grid">
            <div class="col">
              {{ document.name }}
            </div>
            <div class="col text-end">
              <!--            <nb-actions size="small">-->
              <!--              <nb-action icon="download-outline" (click)="downloadDocument(document)"></nb-action>-->
              <!--              <nb-action icon="trash-outline" (click)="deleteDocument(document)"></nb-action>-->
              <!--            </nb-actions>-->
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-template #documentEmpty>
        <div>
          <p>Upload a file for this accounting</p>
        </div>
      </ng-template>
    </p-panel>
  </div>
</div>

<div class="grid">
  <div class="col">
    <p-panel header="Invoices" class="panel-header-with-actions">
      <ng-template pTemplate="icons">
        <p-button styleClass="mx-1" icon="pi pi-plus" [routerLink]="['invoices/add']"></p-button>
      </ng-template>

      <ng-container *ngIf="invoices$ | async as invoices">
        <ng-container *ngIf="invoices.length; else invoicesEmpty">
          Bingo
          <table class="table table-striped table-hover" style="width: 100%">
            <thead>
            <tr>
              <th scope="col">Unit</th>
              <th scope="col" class="text-end">High tariff in kWh</th>
              <th scope="col" class="text-end">Low tariff in kWh</th>
              <th scope="col" class="text-end">Total in kWh</th>
              <th scope="col" class="text-end">High tariff in CHF</th>
              <th scope="col" class="text-end">Low tariff in CHF</th>
              <th scope="col" class="text-end">Total in CHF</th>
              <th scope="col">Payed</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of invoices" [routerLink]="['/invoices/', invoice.id]"
                style="cursor: pointer">
              <td>{{ invoice.unit?.subject }}</td>
              <td class="text-end">{{ invoice.usageHighTariff }}</td>
              <td class="text-end">{{ invoice.usageLowTariff }}</td>
              <td class="text-end">{{ invoice.usageTotal }}</td>
              <td class="text-end">{{ invoice.amountHighTariff }}</td>
              <td class="text-end">{{ invoice.amountLowTariff }}</td>
              <td class="text-end">{{ invoice.amountTotal }}</td>
              <td>{{ invoice.payed }}</td>
            </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-template #invoicesEmpty>
          <div>
            <p>Create an invoice for this accounting</p>
          </div>
        </ng-template>
      </ng-container>
    </p-panel>
  </div>
</div>


