<div class="pb-3">
    <p class="text-2xl">Add meter point</p>
</div>

<form class="mx-auto">
    <div class="mb-5">
        <label
            for="number"
            class="mb-2 block text-sm font-medium text-gray-900 uppercase"
            >Number</label
        >
        <input
            type="text"
            id="number"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900"
            required
        />
    </div>
    <button type="submit" class="primary max-w-fit">Submit</button>
</form>
