<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button ngbNavLink>ZEV Config</button>
    <ng-template ngbNavContent>
      <div class="m-3">
        <app-zev-config></app-zev-config>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>ZEV Representative</button>
    <ng-template ngbNavContent>
      <div class="m-3">
        <app-zev-representative-config></app-zev-representative-config>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
