<div class="flex justify-between pb-3">
    <p class="text-2xl">Consumptions</p>
    <div class="flex flex-nowrap justify-end">
        <app-button label="Add" (clicked)="addClicked()" />
    </div>
</div>

<table class="w-full table-auto text-left">
    <thead class="uppercase">
        <tr>
            <th scope="col">Meter Point</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (consumption of consumptions(); track consumption.id) {
            <tr>
                <td class="py-1">
                    {{ consumption.meterPoint?.number }}
                </td>
                <td class="py-1">
                    {{ consumption.date | date: 'dd.MM.yyyy' }}
                </td>
                <td class="py-1">
                    <div class="flex flex-nowrap items-center justify-end">
                        <button
                            class="rounded-l-lg border border-slate-200 px-4 py-2 text-sm hover:bg-slate-100 hover:text-blue-600"
                            [routerLink]="[consumption.id, 'edit']"
                        >
                            <fa-icon [icon]="faPencil" />
                        </button>
                        <button
                            class="rounded-r-lg border border-slate-200 px-4 py-2 text-sm hover:bg-slate-100 hover:text-red-600"
                            (click)="remove(consumption)"
                        >
                            <fa-icon [icon]="faTrash" />
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
