<div class="flex justify-between pb-3">
    <p class="text-2xl">Meter Points</p>
    <div class="flex flex-nowrap justify-end">
        <button class="primary-outline" routerLink="add">Add</button>
    </div>
</div>

<table class="w-full text-left">
    <thead class="uppercase">
        <tr>
            <th scope="col">Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @for (meterPoint of meterPoints(); track meterPoint.id) {
                <td>{{ meterPoint.number }}</td>
            }
        </tr>
    </tbody>
</table>
